-i https://pypi.org/simple
numpy==1.21.5
opencv-python==4.1.2.30
pytorch_lightning==1.3.3
torch==1.8.1
torchvision==0.9.1
pyyaml==5.1
Werkzeug==0.15.6
torchtext
tf-estimator-nightly==2.8.0.dev2021122109
folium==0.2.1
imgaug==0.2.5
